<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size-md="6" size-lg="4">
        <!-- Button on the left end -->
        <ion-button [routerLink]="'/login'" color="primary" expand="start"
          >Sign In</ion-button
        >
      </ion-col>
      <ion-col size-md="6" size-lg="4" class="ion-text-end">
        <!-- Button on the right end -->
        <ion-button [routerLink]="'/register'" color="danger"
          >Sign Up</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
